@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display&family=Playfair:ital,wght@0,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display&family=Playfair:ital,wght@0,300;1,600&family=Prompt:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Crimson+Text&family=Playfair+Display&family=Playfair:ital,wght@0,300;1,600&family=Prompt:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background_container{
height: 100%;
width: 100%;;
  opacity: 0.7;
  position: relative;
  z-index: -1;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Playfair', serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Prompt', sans-serif;
}

nav {
  color: #fff;
  display: grid;
  grid-template-columns: auto auto ;
}

nav ul {
  list-style-type: none;
  margin-left: 60%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  right:2%;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius:8px;
  color: #fff;
}

nav ul li a:hover {
  background-color: cyan;
  color:#252c2a;
  box-shadow: 2px 2px 5px cyan;
}


.container_tag{
  position: absolute;
  top:30%;
  left:20%;
  position: 5;
}
.tagline{
  color:rgb(131, 233, 242);
  font-size: 40px;
font-style:unset;
text-align: center;
font-family: 'Abril Fatface', cursive;
font-family: 'Playfair', serif;
font-family: 'Playfair Display', serif;
font-family: 'Prompt', sans-serif;
font-weight: 800px;
}



.tagline_small_content{
  font-family: 'Abril Fatface', cursive;
  font-family: 'Playfair', serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Prompt', sans-serif;
  color:rgb(187, 205, 206);
  font-size: 20px;

}

.web_developemnt_projects{
  color:rgb(34, 86, 86);
  font-size: 37px;
  font-weight:700;
position: relative;

text-align: center;
letter-spacing: 2px;
}

.Data_Analysis_projects{
  color:rgb(34, 86, 86);
  font-size: 37px;
  font-weight:700;
position: relative;
text-align: center;
margin-top:10px;
letter-spacing: 2px;
}
.development{
  color:rgb(50, 181, 14);
}
.cardsCollection{
  display: grid;
  grid-template-columns: auto;
}

.card1, .card2, .card3 {
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  width: 40%;
  margin: auto;
  min-height: 14vw;
  margin-top: 5%;
}
.card1_title,.card2_title,.card3_title{
color:rgb(101, 10, 53);
font-size:30px;
font-family:Georgia, 'Times New Roman', Times, serif;
font-family:'Times New Roman', Times, serif;
}

 .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

 summary {
  font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 5px;
    color: rgb(123, 122, 121);
}

.tools{
  color:rgb(130, 129, 127);
  margin:10px;
}
 .read-more {
  text-decoration: none;
  color: blue;
  margin-top:5%;
  font-weight: bold;
  border:2px solid cyan;
  border-radius:7px;
  padding:8px;
}

.btns-tools{
  background-color: none;
  border:2px solid green;
  border-radius:8px;
  color:rgb(15, 53, 10);
  padding:5px;
  margin-left:5px;
}






@media screen and (max-width : 600px) {
  
.web_developemnt_projects{
  font-size:27px;
  letter-spacing: 1px;
  margin-top:5%;
  color:cyan;
    }
    .projects{
      margin-top:5%;
    }
.Data_Analysis_projects{
font-size: 26px;
color:cyan;
}
.card1_title,.card2_title,.card3_title{
text-shadow: 2px 2px 5px  rgb(242, 52, 115);
}

    .card1, .card2, .card3 {
      background-color: #4f5453;
      width:90vw;
      margin: auto;
      min-height: 5vw;
      margin-top:5%;
    }
    .container{
      background-color: #252c2a;
    }
    .read-more{
      border:none;
    }
    .tagline{
      font-size:20px;
     }

  }

  @media screen and (max-width : 400px) {
    .background_container{
      height:100%;
      width:100%;
    }
    .navbar_container{
      margin-bottom: 80%;
    }

    .tagline{
     font-size:20px;
     margin-top: -5%;;
    }
    .container_tag{
      left:5%;
    }
    .tagline_small_content{
      font-size: 17px;
    }
    .web_developemnt_projects,.Data_Analysis_projects{
      font-size: 20px;
    }
   
  }




